<!DOCTYPE html>
<html>
{% extends "layout.html" %}
{% block body_content %}
<head>
    <h1>Home Page</h1>
    <p>Welcome to The Shen Den!</p>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
}
th {
  text-align: left;
}
</style>
</head>
<table style="width:100%">
<body>
<tr>
<th> Shen Gong Wu </th>
<th> Power Rating </th>
<th> Description </th>
<th> Delete Record </th>
</tr>
{% for shenpost in shenposts %}
<tr>
<td>{{ shenpost.shen_name }}</td>
<td>{{ shenpost.power_rating }}</td>
<td>{{ shenpost.description }}</td>
<td><button type="button"> Delete </button></td>
</tr>
{% endfor %}
</body>
{% endblock body_content %}
</html>
